body{
    margin: 0px;
    padding: 0px;
    margin-top: 100px;
}
.button{
	text-align: center;
}

.button a{
	text-transform: uppercase;
	text-decoration: none;
	color: black;
	border: 3px solid blue;
	padding: 18px 40px;
}
.button a:hover{
	background-color: red;
	color: white;
}
li{
	list-style-type: none;
}
table{
	width: 50%;
	margin: auto;
	border-collapse: collapse;
}
th,td{
	border: 1px solid;
	padding: 10px 10px;
}
th{
	background-color: green;
}

tr:nth-child(even){
	background-color: blue;
}
tr:hover{
	color: red;
	cursor: pointer;
}
.first{
	border: 1px solid red;
	position: relative;
	overflow: scroll;
}
.second{
	border: 1px solid blue;
	position: sticky;
	overflow: fixed;
}
.third{
	border: 1px solid green;
	position: absolute;
}



